<!-- Topbar Search -->
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="<%=typeof pageRoute!='undefined'?pageRoute:moduleRoute%>">
<div class="input-group">
    <input type="text" name="key" value="<%= key %>" autofocus class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
    <input type="hidden" name="page" value="<%=page%>">
    <input type="hidden" name="limit" value="<%=limit%>">
    <input type="hidden" name="sort" value="<%=`${sort.property}.${sort.order}`%>">
    <div class="input-group-append">
        <button class="btn btn-dark">
            <i class="fas fa-search fa-sm"></i>
        </button>
    </div>
</div>
</form>