<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SDPCTRL - <%= title %> </title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> -->

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="/css/app.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar - Brand -->
                    <a class="navbar-brand d-flex align-items-center justify-content-center" href="/">
                        <div class="sidebar-brand-icon">
                            <i class="fas fa-user-secret"></i>
                        </div>
                        <div class="sidebar-brand-text mx-2">SDPCTRL</div>
                    </a>
                </nav>
                <!-- End of Topbar -->


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
                    </div>

                    <% if ((typeof message) != "undefined" && message != null) {%>
                        <% 
                        let alertType = 'info';
                        switch(message.status){
                            case 'success': alertType = 'success'; break;
                            case 'error': alertType = 'danger'; break;
                        }
                        %>

                        <div class="alert alert-<%= alertType %> alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <%= message.text %>
                        </div>
                    <% } %>

                    <form method="post">
                        <div class="card mb-4 py-3 border-left-secondary border-right-secondary">
                            <div class="card-body">                  
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" name="username" class="form-control" placeholder="Enter username" value="<%= typeof obj != 'undefined' ? obj.username : 'devadmin' %>">
                                    <div class="text-danger"><%= typeof error != 'undefined' && error.username ? error.username.message : '' %></div>      
                                </div>
                    
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control" placeholder="Enter password" value="<%= typeof obj != 'undefined' ? obj.password : 'dev' %>">
                                    <div class="text-danger"><%= typeof error != 'undefined' && error.password ? error.password.message : '' %></div>      
                                </div>
                            </div>
                        </div>
                        <div class="mb-5">
                            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-sign-in-alt text-white-50"></i> Login
                            </button>
                            <span class="px-1"></span>
                            <a href="/passwordreset">Forgot password?</a>
                        </div>    
                    </form>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>    

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
</body>

</html>