<div class="my-5">
    <div class="card mb-2">
        <div class="card-body py-3">
            <div class="detail-label">service id</div>
            <div class="detail-separator">:</div>
            <div class="detail-value"><%=obj.id%></div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-body py-3">
            <div class="detail-label">name</div>
            <div class="detail-separator">:</div>
            <div class="detail-value"><%=obj.name%></div>
    </div>
    </div>
    <div class="card mb-2">
        <div class="card-body py-3">
            <div class="detail-label">description</div>
            <div class="detail-separator">:</div>
            <div class="detail-value"><%=obj.description%></div>
        </div>
    </div>
    <div class="card">
        <div class="card-body py-3">
            <div class="detail-label">total instances</div>
            <div class="detail-separator">:</div>
            <div class="detail-value"><%=obj.instance_count%></div>
        </div>
    </div>
</div>

<div class="text-danger mb-3">Are you sure want to delete this Entry?</div> 

<form method="post">   
    <div class="mb-5">
        <button class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">
            <i class="fas fa-save fa-sm text-white-50"></i> Confirm
        </button>
        <a href="<%= moduleRoute %>/<%= obj.id %>" class="d-none d-sm-inline-block btn btn-sm btn-dark shadow-sm">
            <i class="fas fa-plus fa-sm text-white-50"></i> Abort
        </a>
    </div> 
    
</form>

<%- contentFor('button_panel') %>
<div class="text-right">
    <a href="<%= moduleRoute %>" class="d-none d-sm-inline-block btn btn-sm btn-dark shadow-sm">
        <i class="fas fa-arrow-left fa-sm text-white-50"></i> Back to List
    </a>
    <a href="<%= moduleRoute %>/create" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
        <i class="fas fa-plus fa-sm text-white-50"></i> Add New
    </a>
</div>