<form method="post">
    <div class="card mb-4 py-3 border-left-secondary border-right-secondary">
        <div class="card-body">                  
            <div class="form-group">
                <label>Target Topic</label>
                <div><a href="/topic/<%=topic.id%>"><%=topic.id%> - <%=topic.name%></a></div>
                <input type="hidden" name="topic_id" value="<%=topic.id%>">                
            </div>
            <div class="form-group">
                <label>Grant Users</label>
                <div class="text-info mb-3"><%-userList.length==0? '<i class="fas fa-info-circle"></i> All valid users have access to this topic' : ''%></div>
                <select name="user_list" class="form-control custom-select rounded-0" size="10" multiple="multiple" <%=userList.length==0?'disabled':''%>>                    
                    <% userList.forEach(user => {%>
                    <option value="<%=user.id%>"><%=user.id%> - <%=user.last_name%>, <%=user.first_name%></option>
                    <% })%>
                </select>
                <div class="text-danger"><%=typeof error != 'undefined' && error.user_list ? 'This field is required' : ''%></div>                
            </div>
        </div>
    </div>
    <div class="mb-5">
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" <%=userList.length==0?'disabled':''%>>
            <i class="fas fa-save fa-sm text-white-50"></i> Save
        </button>
    </div>    
</form>

<%- contentFor('button_panel') %>
<div class="text-right">
    <a href="<%=moduleRoute%>/topic/user#headingAccess<%=topic.id%>" class="d-none d-sm-inline-block btn btn-sm btn-dark shadow-sm">
        <i class="fas fa-arrow-left fa-sm text-white-50"></i> Back to List
    </a>
</div>