<div class="mb-4">
    <% if(accessListDict.length==0) { %>
        <div class="card mb-4">
            <div class="card-body">
                No access data available
            </div>
        </div>
    <% } %>
    <div id="accordionAccess">
        <% for (const [service_id, accessList] of Object.entries(accessListDict)) {%>
        <div class="card mb-2">
            <div class="card-body p-3" id="headingAccess<%=service_id%>">
                <div class="d-sm-flex justify-content-between">
                    <h6 class="h6 mb-0">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td>
                                    <a href="/service/<%=service_id%>"><%=service_id%></a>
                                </td>
                                <td>-</td>
                                <td>
                                    <a href="/service/<%=service_id%>"><%=accessList[0].service_name%></a>
                                </td>
                            </tr>
                            <tr><td></td><td></td><td><span class="text-tiny">Instances: <%=accessList[0].instance_count%></span></td></tr>
                        </table>
                    </h6>
                    <div>
                        <button class="btn btn-primary btn-icon-split btn-sm" data-toggle="collapse" data-target="#collapseAccess<%=service_id%>" aria-expanded="true"  aria-controls="collapseAccess<%=service_id%>">
                            <span class="icon text-white-50"><i class="fas fa-caret-down"></i></span>
                            <span class="text">Groups <span class="badge badge-light"><%=accessList.length==1 && !accessList[0].id ? 0 : accessList.length%></span></span>
                        </button>
                    </div>                    
                </div>
            </div>
            <div id="collapseAccess<%=service_id%>" class="collapse" aria-labelledby="headingAccess<%=service_id%>" data-parent="#accordionAccess">
                <div class="card-header py-4">
                    <% accessList.forEach(access=> {%>
                        <% if(access.id) { %>
                            <a href="/access/<%=access.id%>/service/<%=service_id%>/group/revoke" class="btn btn-dark btn-circle btn-sm mx-2"><i class="fas fa-minus"></i></a>
                            <a href="/group/<%=access.group_id%>"><%=access.group_id%> - <%=access.group_name%>, <%=access.group_description%></a>
                            <hr>
                        <% } %>                        
                    <% }); %>
                    <a href="/access/service/<%=service_id%>/group/grant" class="btn btn-success btn-circle btn-sm mx-2"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <% } %>
    </div>    
</div>


<%- contentFor('page_script') %>
<script>
    if(document.location.hash) {
        $(`${document.location.hash}+div`).collapse({ toggle: true });
    }
</script>